html {
  box-sizing: border-box;
}

/* body {
    font-family: Keyrune;
} */

/* BODY SECTION */

#title {
  font-family: "Beleren Bold", "Varela Round";
  margin-bottom: 0px;
  letter-spacing: 3px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Beleren SmallCaps Bold", "Varela Round";
  text-align: center;
}

#legend {
    z-index: -1;
    background-color: lightgray;
    font-family: "Beleren SmallCaps BoldItalic", "Varela Round";
  position: absolute;
  width: 15rem;
  height: 20rem;
  top: 5vmin;
  left: 8vmax;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 3fr 3fr;
  border: 5px solid black;
  border-radius: 10%;
}

#attribute-names {
    box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 3.5fr;
  font-family: "Beleren SmallCaps BoldItalic", "Varela Round";
  margin: 60px 20px 0 20px;
  gap: 15px;
}

#attribute-names > h4 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  border-radius: 15px;
  padding: 10px;
  /* margin-top: 100px; */
}

.grdRow {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 3.5fr;
  gap: 15px;
  margin: 0 20px;
}

.grdRow > div {
  font-family: "Varela Round";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.grdRow > div:not(:first-child) {
    border: 5px solid black;
    font-family: "Beleren SmallCaps Bold", "Varela Round";
}

#win-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

#popout-bar {
    width: 100%;
    height: 3vmin;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 60%), rgba(0, 0, 0, 33%));
    display: flex;
    justify-content: center;
}

#popout-bar:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 90%), rgba(0, 0, 0, 50%));
}

#card-index {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    transition: height 0.5s ease-in-out;
}

#card-photos {
    overflow: scroll;
    position: relative;
    height: 100%;
}

.inactive {
    height: 2.5%;
}

.active {
    height: 75%;
}

/* END OF BODY SECTION */

/* INDIVIDUAL ELEMENTS */

/* .card-box:not(:first-child) {
    background-color: mediumspringgreen; /* set square colors based on match/partial/miss
} */

#mini-art {
  width: 12rem;
  height: 8rem;
  border: 5px solid black;
}

#full-card {
  width: 40vmin;
}

#index-card {
    width: 25vmin;
}

/* END OF INDIVIDUAL ELEMENTS */

/* Attribute box classes */

/* ICEBOX Card box animation */
.legend-title {
    z-index: 1;
    text-align: center;
    grid-column: 1 / 4;
    font-family: "Beleren Bold", "Varela Round";
}

.legend-title:hover {
    color: skyblue !important;
    z-index: 1;
    text-shadow: 2px 2px 2px white;
}

.indicator {
    height: 4.5rem;
    width: 4.5rem;
    text-align: center;
}

#indicator-true {
    margin-left: 10px;
    grid-column: 1 / 2;
    border-radius: 15%;
}

#indicator-false {
    margin-left: 10px;
    grid-column: 1 / 2;
    border-radius: 15%;
}

#indicator-partial {
    margin-left: 10px;
    grid-column: 1 / 2;
    border-radius: 15%;
}

#search-bar {
    margin: 1rem;
    /* ICEBOX: custom legendary border? */
    border: 5px double black;
    height: 2rem;
    width: 10rem;
}

#error-message, #double-guess {
    margin: 0 20px;
}

button {
    margin: 20px
}

#final-message {
    text-align: center;
}

.font-target {
  font-family:"Beleren Bold", "Varela Round";
}

.true {
  background-color: #66ff66;
}

.partial {
  background-color: #ffe066;
}

.false {
  background-color: #ff6666;
}

#arrows {
    height: 20px;
}